.container {
    width: 45rem;
    margin: auto;
    z-index: 2;
    overflow-x: hidden;
  }
  .form {
    border-style: outset;
    padding: 4rem;
    width: 100%;
    z-index: 2;
  }
  #icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #inputBox input {
    z-index: 1;
  }
  @media screen and (max-width: 580px) {
    .form {
      width: 28rem;
    }
  }
  @media screen and (max-width: 461px) {
    .form {
      width: 24rem;
    }
  }
  @media screen and (max-width: 480px) {
    .form {
      width: 20rem;
    }
  }
  @media screen and (max-width: 350px) {
    .form {
      width: 18rem;
    }
  }
  
  h1 {
    margin: 50px;
    padding: 30px;
  }