*,
::after,
::before, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  /* background-color: #fff; */
  height: 100vh;
  width: 100%;
  padding: 0 10%;
  z-index: 1;
  color: #000;
}
.line h1 {
  font-size: 56px;
  font-weight: 700;
}
.line {
  max-width: 600px;
  font-weight: 700;
}
.line h3 {
  font-size: 32px;
  font-weight: 700;
  color: #000;
}
.line .cv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 345px;
  height: 50px;
}
.cv a {
  display: flex;
  align-items: center;
  justify-items: center;
  background: #000;
  width: 230px;
  justify-content: center;
  text-decoration: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  padding: 1em 0;
  z-index: 2;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #fff;
}
.iconz {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 170px;
  margin: 0 12rem 3rem 0;
  padding: 25rem 10rem 0 0;
  gap: 10px;
}
.iconz a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  font-size: 20px;
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  color: #000;
  text-decoration: none;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


@media (min-width: 1025px) {
  .cv a {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .line {
    max-width: none;
    text-align: center;
  }

  .cv a {
    margin-left: auto;
    margin-right: auto;
  }
  .iconz {
    display: flex;
    margin-left: 130px;
    padding-top: 40px;
  }
  .landing {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .iconz {
    display: none;
  }
}