.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 0;
    overflow-x: hidden;

  }
  
  .Tech1 {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-content: center;
    z-index: 1;
  }
  

  
  button:hover,
  button:focus {
    border-color: #fff;
    color: #fff;
  }
  
  .raise {
    background-color: #0c0c0c;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    z-index: 2;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    /* color: #fff; */
    transition: color 0.8s, box-shadow 0.25s;
    box-shadow: inset 0 0 0 0 transparent;
    color: #fff;
  }
  .raise:hover,
  .raise:focus {
    color: #0072ff;
    box-shadow: 0 0.5em 0.5em -0.3em #0072ff;
    transform: translateY(-0.25em);
  }
  .Tech2 {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-content: center;
    z-index: 1;
  }
  
  #tech { 
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin: 6rem 0 2rem 5rem;
    }


  @media only screen and (min-width: 768px) {
    .Tech1,
    .Tech2 {
      gap: 5rem;
    }
  
    .Tech1 i,
    .Tech2 i {
      font-size: 8em;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .Tech1,
    .Tech2 {
      gap: 10rem;
    }
  
    .Tech1 i,
    .Tech2 i {
      font-size: 10em;
    }
  }